---
layout: default
---
<article class="post">  
  <script src="../lib/easytimer/dist/easytimer.min.js"></script>
  <script>  
  var timer = new Timer();
    $('#chronoExample .startButton').click(function () {
        timer.start();//{countdown: true, startValues: {seconds: 90}});
    });
    $('#chronoExample .pauseButton').click(function () {
        timer.pause();
    });
    $('#chronoExample .stopButton').click(function () {
        timer.stop();
    });
    $('#chronoExample .resetButton').click(function () {
        timer.reset();
    });
    timer.addEventListener('secondsUpdated', function (e) {
        $('#chronoExample .values').html(timer.getTimeValues().toString());
    });
    timer.addEventListener('started', function (e) {
        $('#chronoExample .values').html(timer.getTimeValues().toString());
    });
    timer.addEventListener('reset', function (e) {
        $('#chronoExample .values').html(timer.getTimeValues().toString());
    }); 
  </script>
  
  <h1>{{ page.title }}</h1>
  <div id="chronoExample">
    <div class="values">00:00:00</div>
    <div>
        <button class="btn success">Start</button>
        <button class="btn info" >Pause</button>
        <button class="btn danger">Stop</button>
        <button class="btn warning">Reset</button>
    </div>
   </div>
  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>

  {% include disqus.html %}
</article>
